In [1]:
import pandas as pd

df = pd.read_csv('NFL_Fanatics_Product_Catalog.csv')

# print(df.head())


print(df.columns)

C:\Users\acer\AppData\Local\Temp\ipykernel_7156\235630942.py:3: DtypeWarning: Columns (7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('NFL_Fanatics_Product_Catalog.csv')

Index(['Unique Merchant SKU', 'Product Name', 'Product URL', 'Image URL',
       'Current Price', 'Stock Availability', 'Condition', 'EAN', 'UPC',
       'ISBN', 'MPN', 'Shipping Rate', 'Original Price', 'Coupon Code',
       'Coupon Code Description', 'Manufacturer', 'Product Description',
       'Product Type', 'Category', 'Category ID', 'Parent SKU', 'Parent Name',
       'Top Seller Rank', 'Estimated Ship Date', 'Gender', 'Color', 'Material',
       'Size', 'Size Unit of Measure', 'Age Range', 'Cell Phone Plan Type',
       'Cell Phone Service Provider', 'Stock Description',
       'Product Launch Date', 'Product Bullet Point 1',
       'Product Bullet Point 2', 'Product Bullet Point 3',
       'Product Bullet Point 4', 'Product Bullet Point 5',
       'Alternative Image URL 1', 'Alternative Image URL 2',
       'Alternative Image URL 3', 'Alternative Image URL 4',
       'Alternative Image URL 5', 'Mobile URL', 'Related Products',
       'Merchandising Type', 'Product Weight', 'Zip Code', 'Shipping Weight',
       'Weight Unit of Measure', 'Format', 'Unit Price', 'Bundle',
       'Software Platform', 'Watch Display Type', 'ProductBid', 'Text1',
       'Text2', 'Text3', 'Numeric1', 'Numeric2', 'Numeric3', 'Money1',
       'Money2', 'Money3', 'Currency', 'Shipping Region', 'Labels',
       'Promotion'],
      dtype='object')

In [2]:
text1_counts = df['Text1'].value_counts()
print(text1_counts.head(20))

Text1
Sports & Outdoors~Fan Shop~Clothing & Accessories~Jerseys                      32897
Sports & Outdoors~Fan Shop~Clothing & Accessories~T-Shirts                     24405
Sports & Outdoors~Fan Shop~Clothing & Accessories~Sweatshirts                  16156
Sports & Outdoors~Fan Shop~Clothing & Accessories~Polo Shirts                  15847
Sports & Outdoors~Fan Shop~Clothing & Accessories~Jackets                      15005
Sports & Outdoors~Fan Shop~Clothing & Accessories                              13744
Sports & Outdoors~Fan Shop~Home & Garden~D\\u00e9cor                            8208
Accessories|HardLines|Home|Kitchen & Bar                                        6844
Sports & Outdoors~Fan Shop~Clothing & Accessories~Accessories                   6777
Sports & Outdoors~Fan Shop~Home & Garden~Artwork~Photos                         2692
Sports & Outdoors~Fan Shop~Clothing & Accessories~Accessories~Baseball Caps     2158
Sports & Outdoors~Fan Shop~Sports Souvenirs~Fan Packs                           1831
Sports & Outdoors~Fan Shop~Clothing & Accessories~Shorts                        1579
Sports & Outdoors~Fan Shop~Clothing & Accessories~Accessories~Bags              1569
Sports & Outdoors~Fan Shop~Clothing & Accessories~Accessories~Socks             1362
Sports & Outdoors~Fan Shop~Sports Souvenirs~Helmets~Full Sized Helmets          1074
Sports & Outdoors~Fan Shop~Clothing & Accessories~Pants                         1036
Sports & Outdoors~Fan Shop~Home & Garden~Furniture                              1035
Sports & Outdoors~Fan Shop~Home & Garden~Bedding~Throw Blankets                 1031
Headwear|Snapback                                                                943
Name: count, dtype: int64

In [3]:
num_rows = df.shape[0]
print(num_rows)

180350

In [29]:
df.describe()

,Unique Merchant SKU,Current Price,MPN,Shipping Rate,Original Price,Coupon Code,Coupon Code Description,Product Type,Category ID,Parent SKU,...,ProductBid,Numeric1,Numeric2,Numeric3,Money1,Money2,Money3,Shipping Region,Labels,Promotion
count,1.803500e+05,180350.000000,0.0,0.0,180350.00000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,180350.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,4.953180e+13,115.221438,NaN,NaN,117.35381,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.421125,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,4.475824e+14,345.023873,NaN,NaN,344.90693,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.119669,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.100840e+05,1.990000,NaN,NaN,2.99000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.763818e+06,39.990000,NaN,NaN,41.99000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.380000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,2.000143e+08,77.990000,NaN,NaN,79.99000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.410000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,2.009048e+08,129.990000,NaN,NaN,129.99000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.450000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.011838e+16,54999.990000,NaN,NaN,54999.99000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.930000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
gender_counts = df['Gender'].value_counts()
print(gender_counts)

Gender
Men       86613
Women     45811
Unisex     3778
Name: count, dtype: int64

In [31]:
nf = df[df['Text1'].fillna('').str.contains("Sports & Outdoors~Fan Shop~Clothing & Accessories")]
nfshort= nf.head(10000)

In [32]:
nfshort.to_csv('nfshort.csv', index=False)

In [34]:
team_counts = df['Text3'].value_counts()
print(team_counts)

Text3
New England Patriots        7603
Tampa Bay Buccaneers        6654
Buffalo Bills               6620
New York Giants             6545
Denver Broncos              6492
Los Angeles Rams            6274
Pittsburgh Steelers         6268
Seattle Seahawks            6264
Chicago Bears               6215
Philadelphia Eagles         5984
New Orleans Saints          5969
Indianapolis Colts          5900
Green Bay Packers           5897
Atlanta Falcons             5848
San Francisco 49ers         5674
Las Vegas Raiders           5670
Arizona Cardinals           5667
Los Angeles Chargers        5515
Kansas City Chiefs          5454
Dallas Cowboys              5440
Cincinnati Bengals          5327
Miami Dolphins              5286
Minnesota Vikings           5136
Carolina Panthers           5039
Baltimore Ravens            4990
Tennessee Titans            4954
Cleveland Browns            4908
Jacksonville Jaguars        4783
Washington Commanders       4752
New York Jets               4745
Detroit Lions               4283
Houston Texans              2843
Multi-Team                   610
NFLPA                        481
Shield Merchandise           176
Super Bowl Merchandise        65
NFL Multi-Team                14
Washington Redskins            3
Washington Football Team       2
Name: count, dtype: int64

nf_chicago_bears = nf[nf['Text3'] == 'Chicago Bears']
print(nf_chicago_bears.head())
print(nf_chicago_bears.shape)
nf_chicago_bears.to_csv('nf_chicago_bears.csv', index=False)